%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => admin_root_path } Title
    %ul.nav.navbar-nav
      %li= link_to User.model_name.human, admin_users_path
    %ul.nav.navbar-nav.navbar-right
      %li= link_to t(:signout), destroy_user_session_path, data: { method: :delete }
