---
SECRET_KEY_BASE: d285053a6ee2d4df5e56e1625e6fdff297093e458ed8b74f3cd2ad52d07dc10b5f27ba7923d06393ce7175b6e943e692d1a5c200eb79c5d3f8cdbc1ef4582abe

# exception notification
ENABLE_NOTIFICATION:
NOTIFICATION_EMAIL_PREFIX: "[ Exception ]"
NOTIFICATION_EMAIL_SENDER: '"notifier" notifier@example.com'
NOTIFICATION_EMAIL_RECIPIENTS: "exceptions1@example.com,exceptions2@example.com"

# default host
HOST: localhost
PORT: 3000

# email
ENABLE_SMTP:
SMTP_HOST:
SMTP_USERNAME:
SMTP_PASSWORD:
SMTP_PORT: 587
SMTP_DOMAIN:
SMTP_AUTHENTICATION: plain

# dabase
DB_ADAPTER: sqlite3
DB_HOST:
DB_NAME: db/development.sqlite3
DB_USERNAME:
DB_PASSWORD:
